
	<div class="current_user">
		<a href="/user_home"><h1><%= current_user.username %></h1></a>
		<nav>
			<a href="/set">Settings</a>
			<a href="/recent">Posts</a>
			<a href="/privacy">Followers</a>
			<a href="/signout">Log Out</a>
		</nav>

	</div>

<div class="other">
	<p> Thanks! </p>
	<h2> These are all your posts: </h2>
	<div class="eachpost">
	
		<% @posts.each do |t|%>

			<h3> <%=t.body%></h3>
			<form method="POST" action="/delete_post">
				<input type="hidden" name="id" value=<%= t.id%>></input>
				<input type="submit" value="Delete Post"></input>
			</form>

			<form method="POST" action="/edit_post">
				<input type="hidden" name="id" value=<%= t.id%>></input>
				<input type="textarea" placeholder="Edit Post"></input>
				<input type="submit"></input>
			</form>

			<!-- <button type="button">Edit Post</button> -->
			<p><span class="red"><%=t.likes.count%></span> </p>
			<p>Created: <%=t.created_at%></p>

			<% end %> 
		</div>
</div>






