
	<div class="current_user">
		<a href="/user_home"><h1><%= current_user.username %></h1></a>
		<nav>
			<a href="/set">Settings</a>
			<a href="/recent">Posts</a>
			<a href="/privacy">Followers</a>
			<a href="/signout">Log Out</a>
		</nav>

	</div>
<div class = "unique">
	<div id = "post_now">
		<form method="POST" action="post/create">
		<input type="textarea" name="[post]body" placeholder="Write your post here:"></input>
		<input type = "hidden" value= "<%= current_user.id%>" name = "[post]user_id">
		<input type="submit"></form>
	</div>

		<div id ="post_history">


			<h2>Check out all the Recent Posts!!</h2>

			<% @recentPosts.each do |t| %>
			    <p><%= t.body %> <span class = "red"><%=t.likes.count%></span></p>
			   <form method="POST" action="like">
			     <input type="hidden" value= "<%= current_user.id %>" name="user_id">
			     <input type="hidden" value="<%= t.id %>" name="post_id">
			     <input type="submit" value="LIKE" id="like_button">
			   </form>
			<% end %> 

		</div>
</div>
